{%- assign mod_image = mod_settings.image -%}
{%- assign mod_image_mobile = mod_settings.image_mobile -%}
{%- assign mod_card_image = mod_settings.card_image -%}
{%- assign mod_avatar = mod_settings.avatar -%}
{%- assign mod_heading = mod_settings.heading -%}
{%- assign mod_subheading = mod_settings.subheading -%}
{%- assign mod_description = mod_settings.description -%}

<section id="collab_top" class="collab_section_wrapper">
  {%- if mod_image -%}
  <div class="collab_section_griditem collab_bg_img" style="background-image:url({{ mod_image | img_url: 'master' }});">
	&nbsp;
  </div>
  {%- endif -%}
  {%- if mod_heading -%}
  <div class="collab_section_griditem grid_item_black">
	<div class="collab_item_center">
      <h3>{{ mod_heading }}</h3>
      <button id="more_collab" onclick="openProdModal('collab_modal')" class="collab_modal">READ MORE</button>
    </div>
  </div>
  {%- endif -%}
</section>
{%- if mod_image -%}
<section id="collab_modal" class="pr_modal_wrapper">
  <div class="modal_content">
    <div class="collab_bg_img" style="background-image:url({{ mod_image | img_url: 'master' }});">
    &nbsp;
  </div>
  <div class="collab_modal_content">
    <div id="collab_close" class="modal_close">
      <button onclick="closeProdModal('collab_modal')" class="m_close">CLOSE <span style="font-weight:bold;">X</span></button>
    </div>
    <div class="inner_content">
      <h4>{{ mod_subheading }}</h4>
      <h2>{{ mod_heading }}</h2>
      <div class="collab_description">{{ mod_description }}</div>
    </div>
  </div>
  </div>
</section>
{%- endif -%}
{% comment %}
/* Original collab content inside this comment */
<section class="product-collab" id="collab">
  <div class="product-collab__background">
    {%- if mod_image -%}
      {%- assign mod_image_src = mod_image | img_url: 'master' -%}

      {%- render 'image',
        class: "product-collab__background-image",
        src: mod_image_src,
        object_fit: 'cover',
        loader: false
      -%}

      {%- assign mod_image_src = nil -%}
    {%- endif -%}

    {%- if mod_image_mobile -%}
      {%- assign mod_image_mobile_src = mod_image_mobile | img_url: 'master' -%}

      {%- render 'image',
        class: "product-collab__background-image-mobile",
        src: mod_image_mobile_src,
        object_fit: 'cover',
        loader: false
      -%}

      {%- assign mod_image_mobile_src = nil -%}
    {%- endif -%}
  </div>

  <div class="product-collab__card-wrapper">
    <div class="product-collab__card">
      <div class="product-collab-card__top">
        {%- if mod_card_image -%}
          {%- assign mod_card_image_src = mod_card_image | img_url: 'master' -%}

          {%- render 'image',
            class: "product-collab-card__top-image",
            src: mod_card_image_src,
            object_fit: 'cover',
            loader: false
          -%}

          {%- assign mod_card_image_src = nil -%}
        {%- endif -%}
      </div>

      <div class="product-collab-card__content">
        <div class="product-collab-card__avatar">
          {%- if mod_avatar -%}
            {%- assign mod_avatar_src = mod_avatar | img_url: 'master' -%}

            {%- render 'image',
              class: "product-collab-card__avatar-image",
              src: mod_avatar_src,
              object_fit: 'cover',
              loader: false
            -%}

            {%- assign mod_avatar_src = nil -%}
          {%- endif -%}
        </div>

        {%- if mod_subheading -%}
          <div class="product-collab-card__subheading">
            {{- mod_subheading -}}
          </div>
        {%- endif -%}
        {%- if mod_heading -%}
          <h2 class="product-collab-card__heading">
            {{- mod_heading -}}
          </h2>
        {%- endif -%}

        {%- if mod_description -%}
          <div class="product-collab-card__description">
            {{- mod_description -}}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
{% endcomment %}